$font-family: "Nunito Sans", sans-serif;
$font-color1: #fafcac;
$font-color2: #ffa427;
$font-color3: #c93c00;
$font-color4: #cccf4a;
$base-color: #e7aa2b;
$secund-color: #ffa52710;
$border-color: #c93c00;

%font {
  font-family: $font-family;
  font-weight: 600;
  font-size: 2.3vh;
}

.logo-order {
  margin-top: 1.5vh;
  margin-bottom: 1vh;
  width: 20vh;
}

.menu-title {
  @extend %font;
  font-size: 5vh;
  align-content: center;
  color: $font-color2;
}

.btn-menu {
  background: $base-color;
  border: 3px solid #b06a09;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(250, 238, 168, 0.308);
  border-radius: 30px;
  color: black;
  width: 20vh;
  height: 5vh;
  margin: 2vmin;
  @extend %font;
}

.btn-menu:active {
  box-shadow: 0 5px #666;
  transform: translateY(10px);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn-menu:hover {
  background: #8c605e;
  border: 3px solid #8c605e;
  opacity: 0.7;
  color: $font-color1;
}

.menu-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.wrap-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card {
  background-color: lightyellow;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;

  button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  button:hover {
    opacity: 0.7;
  }
}

.price {
  color: grey;
  font-size: 22px;
}

.orden {
  border: #e7aa2b;
  border-style: double;
  border-width: thick;
  width: 40%;

  h2{
    margin-top: 0%;
    margin-bottom: 1.2vh;
    border-bottom: $base-color;
    background-color: $base-color;
  }
}

.comanda {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;

  p {
    color: beige;
    font-size: 2.5vh;
    margin: 5px;
  }

  button {
    margin: 5px;
    background-color: $font-color3;
  }
}

.total{
  border-top: $base-color;
  color: $font-color4;
  border-width: medium;
  @extend %font;
}
